{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie - {{ site_name }}{% endblock %}
{% block navbar %}{% include 'admin/_navbar.html.twig' %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
<section class="container my-5">
    <h1 class="text-center mb-4" style="color:#F8FAFC;">Modifier une catégorie</h1>

    {{ form_start(form, {attr: {class: 'w-50 mx-auto'}}) }}
        <div class="mb-3">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary" style="background-color:#6366F1; border-radius:999px; padding:10px 34px;">Modifier 🖋️</button>
        </div>
    {{ form_end(form) }}
</section>
{% endblock %}
